{% extends 'layout.html' %}

{% block content %}
<div class="card">
    <section>
        <span>{{ card.name }}</span>
        <span class="cost">{{ card.cost }}</span>
    </section>
    <figure style="background-image:url('{{ card.image }}')"></figure>
    <section>
        <span class="type">{{ card.type.name.capitalize() }}</span>
        <span class="rarity">{{ card.rarity.name.capitalize() }}</span>
    </section>
    <section class="card-main">
        {% for ability in card.abilities %}
            <li>{{ ability }}</li>
        {% endfor %}
        <div class="quote">
            <em>{{ card.quote['body']|safe }}</em> - {{ card.quote['attr'] }}
        </div>
    </section>
    <section>
        {% if card.type.name == 'unit' %}
            <span class="stats">{{ card.attack }}/{{ card.defense }}</span>
        {% endif %}
    </section>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    $(function() {
    });
</script>
{% endblock %}
